SPOTIFY_CLIENT_ID="9656582568df4823af36d0d619c2db1d"
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

NEXT_PUBLIC_SUPABASE_URL="https://qjahegcudmolthdlvoto.supabase.co"
NEXT_PUBLIC_SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTY0MTk5OTkwNiwiZXhwIjoxOTU3NTc1OTA2fQ.b50sa-VK0oQ6oGispQibQ-OXuw1XLvQVup9kwniUWCY"